<!-- views/post.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>POST_TITLE | Node.jsBlog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <div>
      <h2>POST_TITLE</h2>
      <p>by <a href="#">POST_AUTHOR</a></p>

      <p>POST_CONTENT</p>
      <hr>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>